@model Models.SubCategory

<form method="post" asp-area="Cadastro" asp-controller="SubCategory" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="card container  ">
        <div class="card-header controlColor mt-3">

            <div class="col-12">
                <h2 class="">Delete Application Type</h2>
                <br />
            </div>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row py-2">
                        <div class="col-12">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" disabled class="form-control text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row py-2">
                        <div class="col-12">
                            <partial name="_DeleteAndBackToListButton" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer controlColor mb-3">
            <p>Delete Record</p>
        </div>
    </div>
</form>
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}