.nav-header{
    background-color: #f19c00  !important;

}

.nav-header a{
    color: white !important;
}

.dropdown-categoria a{
 color: #f97300 !important;
}

.slide{
    height: 419px;
}

.card-hoverProdutos:hover{
    background-color: white;
    margin: 10px;
    cursor: pointer;
    border: 2 solid red !important;
}

.head1 {
font-weight: 900;
font-size: 30px
}

.bdr {
border-bottom: 1.5px solid #FFB74D;
width: 65px;
margin-right: auto;
margin-left: auto
}

.card-footer {
justify-content: space-between;
border: none;
background: none;
border-bottom: 0.5px solid #9E9E9E
}

.footer-right>i {
margin-left: 15px
}

.fa-hand-holding-usd {
color: #FFB74D
}

.fa-handshake {
color: #FFB74D
}

/*.card-title {
margin-bottom: .75rem;
font-weight: 900;
font-size: 15px;
margin-top: 1.75rem
}*/

.learn-more {
color: #FFB74D
}

.fa-angle-right {
margin-left: 10px
}

.fa-3x {
color: #FFB74D
}

.card-content {
padding-right: 40px;
padding-left: 30px;
padding-bottom: 10px;
padding-top: 10px
}


.card-content>p {
    color: #9E9E9E
}

.heading {
    position: relative;
    top: 75px
}

.follow-text {
    color: #9E9E9E
}

.container-footer{
    background-color: orange;
}

.btn-carrinho{
    color: white;
}

.btn-carrinho i{
    color: white;
    margin: 10px;
}



.btn-color-white{
    color: white;
}

/************** CSS BREBREZIN***************/

.nav-header {
    background-color: #f19c00 !important;
}

    .nav-header a {
        color: white !important;
    }

.dropdown-categoria a {
    color: #f97300 !important;
}

.slide {
    height: 419px;
}

.card-hoverProdutos:hover {
    background-color: white;
    margin: 10px;
    cursor: pointer;
    border: 2 solid red !important;
}


background-color: #616161;
color: white;
margin-top: 50px;
border: none
}

.head1 {
    font-weight: 900;
    font-size: 30px
}

.bdr {
    border-bottom: 1.5px solid #FFB74D;
    width: 65px;
    margin-right: auto;
    margin-left: auto
}

.card-footer {
    justify-content: space-between;
    border: none;
    background: none;
    border-bottom: 0.5px solid #9E9E9E
}

.footer-right > i {
    margin-left: 15px
}

.fa-hand-holding-usd {
    color: #FFB74D
}

.fa-handshake {
    color: #FFB74D
}

.card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 15px;
    margin-top: 1.75rem
}

.learn-more {
    color: #FFB74D
}

.fa-angle-right {
    margin-left: 10px
}

.fa-3x {
    color: #FFB74D
}

.card-content {
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px
}


    .card-content > p {
        color: #9E9E9E
    }

.heading {
    position: relative;
    top: 75px
}

.follow-text {
    color: #9E9E9E
}

.container-footer {
    background-color: orange;
}

.btn-carrinho {
    color: white;
}

    .btn-carrinho i {
        color: white;
        margin: 10px;
    }


.btn-color-white {
    color: white;
}

.f-right {
    float: right !important;
}

/* CONFIGURAÇÃO DE CORES DOS COMPONENTES DO PROJETOS*/
.controlColor {
    color: white !important;
    /*background-color: #2274e4 !important;*/
    background-color: royalblue !important;
    /*    background-color: #3a3ae7 !important;*/
}

.textColor {
    /*color: #3E4492 !important;*/
    color: orange !important;
}

.textColorBlack {
    color: #000 !important;
}


.textColorNext {
    color: gold !important;
}

.backColor {
    /*background-color: #3E4492 !important;*/
    background-color: blue !important;
}