<div class="row">
    
    <div class="col">
        <a asp-action="Index" class="btn controlColor form-control">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
            Voltar para Lista
        </a>
    </div>
    <div class="col">
        <button type="submit" class="btn controlColor form-control">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Salvar
        </button>
    </div>
</div>