<div class="row">
    <div class="col">
        <a asp-action="Index" class="btn controlColor form-control">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
            Back to List
        </a>
    </div>
    <div class="col">
        <button type="submit" class="btn controlColor form-control">
            <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;
            Delete
        </button>
    </div>
</div>