@model Models.Product
@using Common

<form method="post" asp-area="Cadastro" asp-controller="Product" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="card container  ">
        <div class="card-header controlColor mt-3">

            <div class="col-12">
                <h2 class="">Delete Product</h2>
                <br />
            </div>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row py-2">
                        <div class="col-9">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" disabled class="form-control text-danger" />
                        </div>
                        <div class="col-3">
                            <label asp-for="Price"></label>
                            <input asp-for="Price" disabled class="form-control text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row py-2">
                        <div class="col-12">
                            <label asp-for="Description"></label>
                            <input asp-for="Description" disabled class="form-control text-danger" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group row py-2">
                        <div class="col-6">
                            <label asp-for="CategoryId"></label>
                            <input asp-for="Category.Name" disabled class="form-control text-danger" />
                        </div>
                        <div class="col-6">
                            <label asp-for="ApplicationTypeId"></label>
                            <input asp-for="ApplicationType.Name" disabled class="form-control text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row py-2">
                        <div class="col-12">
                            <partial name="_DeleteAndBackToListButton" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer controlColor mb-3">
            <p>Delete Record</p>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                disable: true
            });
        });

    </script>
}